{
  "presets": [["@babel/env"], "@babel/react"],
  "env": {
    "es": {
      "presets": [["@babel/env", { "modules": false }]]
    },
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
