{
  "env": {
    "development": {
      "presets": [
        "env",
        "stage-0",
        "react"
      ]
    },
    "production": {
      "presets": [
        "env",
        "stage-0",
        "react"
      ]
    },
    "test": {
      "presets": [
        "env",
        "stage-0",
        "react"
      ]
    },
    "es": {
      "presets": [
        ["env", { "modules": false }],
        "react",
        "stage-0"
      ]
    }
  }
}
