{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "padded-blocks": 0,
    "block-scoped-var": 0
  },
  "plugins": [
    "react"
  ]
}
